
@font-face {
  font-family: 'PrecisionSans_W_Rg';
  src: url('../fonts/PrecisionSans_W_Rg.eot');
  src: url('../fonts/PrecisionSans_W_Rg.eot?#iefix') format('embedded-opentype'), url('../fonts/PrecisionSans_W_Rg.woff') format('woff'), url('../fonts/PrecisionSans_W_Rg.ttf') format('truetype'), url('../fonts/PrecisionSans_W_Rg.svg#PrecisionSans_W_Rg') format('svg');
}
@font-face {
  font-family: 'PrecisionSans_W_Bd';
  src: url('../fonts/PrecisionSans_W_Bd.eot');
  src: url('../fonts/PrecisionSans_W_Bd.eot?#iefix') format('embedded-opentype'), url('../fonts/PrecisionSans_W_Bd.woff') format('woff'), url('../fonts/PrecisionSans_W_Bd.ttf') format('truetype'), url('../fonts/PrecisionSans_W_Bd.svg#PrecisionSans_W_Bd') format('svg');
}
@font-face {
  font-family: 'PrecisionSans_W_RgIt';
  src: url('../fonts/PrecisionSans_W_RgIt.eot');
  src: url('../fonts/PrecisionSans_W_RgIt.eot?#iefix') format('embedded-opentype'), url('../fonts/PrecisionSans_W_RgIt.woff') format('woff'), url('../fonts/PrecisionSans_W_RgIt.ttf') format('truetype'), url('../fonts/PrecisionSans_W_RgIt.svg#PrecisionSans_W_RgIt') format('svg');
}
@font-face {
  font-family: 'PrecisionSans_W_BdIt';
  src: url('../fonts/PrecisionSans_W_BdIt.eot');
  src: url('../fonts/PrecisionSans_W_BdIt.eot?#iefix') format('embedded-opentype'), url('../fonts/PrecisionSans_W_BdIt.woff') format('woff'), url('../fonts/PrecisionSans_W_BdIt.ttf') format('truetype'), url('../fonts/PrecisionSans_W_BdIt.svg#PrecisionSans_W_BdIt') format('svg');
}
@font-face {
  font-family: 'PrecisionSans_W_Lt';
  src: url('../fonts/PrecisionSans_W_Lt.eot');
  src: url('../fonts/PrecisionSans_W_Lt.eot?#iefix') format('embedded-opentype'), url('../fonts/PrecisionSans_W_Lt.woff') format('woff'), url('../fonts/PrecisionSans_W_Lt.ttf') format('truetype'), url('../fonts/PrecisionSans_W_Lt.svg#PrecisionSans_W_Lt') format('svg');
}
@font-face {
  font-family: 'PrecisionSans_W_LtIt';
  src: url('../fonts/PrecisionSans_W_LtIt.eot');
  src: url('../fonts/PrecisionSans_W_LtIt.eot?#iefix') format('embedded-opentype'), url('../fonts/PrecisionSans_W_LtIt.woff') format('woff'), url('../fonts/PrecisionSans_W_LtIt.ttf') format('truetype'), url('../fonts/PrecisionSans_W_LtIt.svg#PrecisionSans_W_LtIt') format('svg');
}
@font-face {
  font-family: 'PrecisionSans_W_Md';
  src: url('../fonts/PrecisionSans_W_Md.eot');
  src: url('../fonts/PrecisionSans_W_Md.eot?#iefix') format('embedded-opentype'), url('../fonts/PrecisionSans_W_Md.woff') format('woff'), url('../fonts/PrecisionSans_W_Md.ttf') format('truetype'), url('../fonts/PrecisionSans_W_Md.svg#PrecisionSans_W_Md') format('svg');
}
@font-face {
  font-family: 'PrecisionSans_W_MdIt';
  src: url('../fonts/PrecisionSans_W_MdIt.eot');
  src: url('../fonts/PrecisionSans_W_MdIt.eot?#iefix') format('embedded-opentype'), url('../fonts/PrecisionSans_W_MdIt.woff') format('woff'), url('../fonts/PrecisionSans_W_MdIt.ttf') format('truetype'), url('../fonts/PrecisionSans_W_MdIt.svg#PrecisionSans_W_MdIt') format('svg');
}
@font-face {
  font-family: 'pbfont';
  src: url('../fonts/pbfont.eot');
  src: url('../fonts/pbfont.eot?#iefix') format('embedded-opentype'), url('../fonts/pbfont.woff') format('woff'), url('../fonts/pbfont.ttf') format('truetype'), url('../fonts/pbfont.svg#pbfont') format('svg');
}

//-- Bootstrap Iconography
//** Load fonts from this directory.
$icon-font-path: '../fonts/';
//** File name for all font files.
$icon-font-name: 'glyphicons-halflings-regular';
//** Element ID within SVG icon file.
$icon-font-svg-id: 'glyphicons_halflingsregular';


//-------------------------------

$font-family-sans-serif:        'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-family-serif:             Georgia, Times, 'Times New Roman', serif;
$font-family-base:              $font-family-sans-serif;
$font-family-monospace:         Menlo, Consolas, Monaco, 'Courier New', monospace;
$font-family-ps-light:          'PrecisionSans_W_Lt', 'Helvetica Neue', Arial, sans-serif;
$font-family-ps-light-italic:   'PrecisionSans_W_LtIt', 'Helvetica Neue', Arial, sans-serif;
$font-family-ps-regular:        'PrecisionSans_W_Rg', 'Helvetica Neue', Arial, sans-serif;
$font-family-ps-regular-italic: 'PrecisionSans_W_RgIt', 'Helvetica Neue', Arial, sans-serif;
$font-family-ps-medium:         'PrecisionSans_W_Md', 'Helvetica Neue', Arial, sans-serif;
$font-family-ps-medium-italic:  'PrecisionSans_W_MdIt', 'Helvetica Neue', Arial, sans-serif;
$font-family-ps-bold:           'PrecisionSans_W_Bd', 'Helvetica Neue', Arial, sans-serif;
$font-family-ps-bold-italic:    'PrecisionSans_W_BdIt', 'Helvetica Neue', Arial, sans-serif;
$headings-font-weight:          normal;
$headings-line-height:          1.1;
$headings-color:                inherit;
$btn-font-weight:               normal;

//-------------------------------

$font-size-base:   14px;
$font-size-large:  ceil(($font-size-base * 1.15)); // ~16px
$font-size-small:  ceil(($font-size-base * .85)); // ~12px
$font-size-xsmall: ceil(($font-size-base * .72)); // ~10px

//----------------------------

.glyphicon {
  line-height: $line-height-base;
}

//** Default monospace fonts for `<code>`, `<kbd>`, and `<pre>`.

// easily change something to serif or sans-serif
.serif,
.serif p {
  font-family: $font-family-serif;
}
.sans-serif, .sans,
.sans-serif p,  .sans p {
  font-family: $font-family-sans-serif;
}

code,
.code, pre {
  font-family: $font-family-monospace;
}

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #e1e1e1;
}

a {
  color: $link-color;
  &:hover {
    color: $link-hover;
  }
  &.read-more {
    font-size: $font-size-base - 2; // 2 px smaller
    white-space: nowrap;
    &:after {
      content: '\2026'; // ellipsis
    }
  }
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: inherit; // links take on color of the header they're in
}

h1,
.h1 {
  font-size: 32px;
  font-weight: normal;
  font-family: $font-family-ps-light;
  color: $page-header-color;
  margin-top: 40px;
  margin-bottom: 25px;
  &.ko {
    color: #fff;
    font-family: $font-family-ps-regular;
  }
  &.alt {
    color: $page-header-color-alt;
  }
}

h2,
.h2 {
  font-size: 20px;
  font-family: $font-family-ps-regular;
  margin-top: 40px;
  margin-bottom: 20px;
  padding: 0;
  font-weight: normal;
  color: $header-color;
  &.ko {
    color: fff;
  }
  &.alt {
    color: $header-color-alt;
  }
  &.docs {
    // for use in Documentation only!
    color: $pb-magenta;
  }
}


h2.section-divider {
  padding-bottom: 20px;
  margin-bottom: 30px;
  border-bottom: 1px solid $pb-light-gray;
}

h2.follows-h1,
h1 +h2 {
  margin-top: 20px;
}

h2.tab-header {
  margin-bottom: 40px;
}

h2.table-header {
  margin-bottom: 40px;
}


h3,
.h3 {
  font-size: 18px;
  font-family: $font-family-ps-regular;
  font-weight: normal;
  color: $header-color;
  &.ko {
    color: #fff;
  }
  &.alt {
    color: $header-color-alt;
  }
}

h4, .h4 {
  font-size: 16px;
  font-family: $font-family-sans-serif;
  font-weight: bold;
  color: $header-color;
}

h5, .h5 {
  font-size: 14px;
  font-family: $font-family-sans-serif;
  font-weight: bold;
  color: $header-color;
  &.ko {
    color: fff;
  }
  &.alt {
    color: $page-header-color-alt;
  }
}

h6, .h6 {
  font-size: 12px;
  font-family: $font-family-sans-serif;
  font-weight: bold;
  color: $header-color;
  margin-bottom: 0;
  margin-top: 14px;
}

.subheader {
  font-family: $font-family-base;
  font-size: $font-size-base;
  font-weight: bold;
  color: $header-color;
  &.alt {
    color: $header-color-alt;
  }
}




// when you need light text
// sets the bold and italic accordingly
// so that B and I tags look correct on light
.ps-light {
  font-family: $font-family-ps-light;
  font-weight: normal;
  font-style: normal;

  &.italic,
  em,
  i {
    font-family: $font-family-ps-light-italic;
  }

  // since regular bold is a bit much on light
  b,
  strong {
    font-family: $font-family-ps-medium;
  }
}

p.lead,
p.lede {
  font-family: $font-family-ps-regular;
  font-size: $font-size-large;
}

.media-heading {
  font-family: $font-family-ps-bold;
  font-weight: normal;
}

body {
  font-family: $font-family-base;
  font-size: $font-size-base;
  font-weight: normal;
  color: $text-color;
}


dt {
  margin-top: 10px;
  margin-bottom: 3px;

  &:first-child {
    margin-top: 0;
  }
  dd {
    margin-bottom: 5px;
  }
}

// condensed definition list */
.dlist-condensed {
  dt {
    margin-bottom: 0;
    line-height: 1.3;
  }
  dd {
    line-height: 1.2;
    margin-bottom: 2px;
  }
}

ul.spaced,
ol.spaced {
  >li {
    margin-top: 10px;

    &:first-child {
      margin-top: 0;
    }
  }
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 10px;
  margin-left: 0;
  padding-left: 1.5em;
}

.btn:focus {
  // scss-lint:disable ImportantRule
  outline: none !important;
}

.btn {
  font-family: $font-family-ps-regular;
}

// Font Awesome additional pb classes

.fa-active {
  color: $pb-magenta;
}
.fa-lg {
  font-size: 1.5em;
}

.transition-all {
  transition: all .2s ease-in-out;
}

.nav-tabs >li >a,
.nav-pills >li >a {
  font-family: $font-family-ps-regular;
}

.help-block {
  color: $pb-gray-300;
}

.psr14 {
  font-family: $font-family-ps-regular;
  font-weight: normal;
  font-size: 14px;
}



// boostrap makes changing the weight of the logo quite difficult
#header .navbar .navbar-brand.brand-text,
#header .navbar .container .navbar-brand.brand-text,
header .navbar .navbar-brand.brand-text,
header .navbar .container .navbar-brand.brand-text {
  font-family: $font-family-ps-regular;
  font-weight: normal;
}

.nav.navbar-nav {
  font-family: $font-family-ps-regular;
  font-weight: normal;
  font-size: 16px;
}


// ------SPECIAL SIZES--------


.text-large {
  font-size: $font-size-large;
}

small,
.text-small,
.small {
  font-size: $font-size-small;
}
.doc-note {
  font-size: $font-size-small;
  font-style: italic;
  color: $pb-magenta;
}

.text-xs {
  font-size: $font-size-xsmall;
}

.text-mouse {
  font-size: $font-size-xsmall;
}

// Alignment
.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-justify {
  text-align: justify;
}

// changes orientation on phones
@include breakpoint(screen-xs) {
  .text-left-xs {
    text-align: left;
  }
  .text-right-xs {
    text-align: right;
  }
  .text-center-xs {
    text-align: center;
  }
}


// // Contextual colors, from bootstrap
.text-primary {
  color: $brand-primary;
}
.text-muted {
  color: $text-muted;
}
.text-success {
  color: $state-success-text;
}
.text-info {
  color: $state-info-text;
}
.text-warning {
  color: $state-warning-text;
}
.text-danger, .text-error {
  color: $brand-danger;
}
