// Options
//
// Quickly modify global styling by enabling or disabling optional features.
$enable-prefers-reduced-motion-media-query: true;
$enable-responsive-font-sizes: true;
$enable-validation-icons: false;
$enable-deprecation-messages: true;

// Spacing
//
// Control the default styling of most Bootstrap elements by modifying these
// variables. Mostly focused on spacing.
// You can add more entries to the $spacers map, should you need more variation.

$spacer: 1rem !default;
$spacers: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$spacers: map-merge(
  (
    0: 0,
    1: (
      $spacer * 0.25
    ),
    2: (
      $spacer * 0.5
    ),
    3: $spacer,
    4: (
      $spacer * 1.5
    ),
    5: (
      $spacer * 2
    ),
    6: (
      $spacer * 2.5
    ),
    7: (
      $spacer * 3
    )
  ),
  $spacers
);

// Body
//
// Settings for the `<body>` element.

$body-bg: var(--white) !default;
$body-color: var(--text) !default;

// Grid breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);
@include _assert-ascending($grid-breakpoints, '$grid-breakpoints');
@include _assert-starts-at-zero($grid-breakpoints, '$grid-breakpoints');

$zindex-dropdown: 1000;
$zindex-sticky: 1020;
$zindex-fixed: 1030;
$zindex-modal-backdrop: 1040;
$zindex-modal: 1050;
$zindex-popover: 1060;
$zindex-tooltip: 1070;

// Links
//
// Style anchor elements.

$link-decoration: none;
$link-hover-decoration: underline;

// Grid columns
//
// Set the number of columns and specify the width of the gutters.

$grid-gutter-width: 32px;

// Components
//
// Define common padding and border radius sizes and more.
$border-color: var(--border_color);
$border-width: 1px;
$border-radius: 2px;
$border-radius-lg: 4px;
$border-radius-sm: 0;

// Typography
//
// Font, line-height, and color for body text, headings, and more.
$pb-poi-icon-size: 24px;
$lead-font-size: 1rem;
$lead-font-weight: normal;

$list-inline-padding: 4px;

// Tables
//
// Customizes the `.table` component with basic values, each used across all table variations.

// $table-bg: transparent;
// $table-accent-bg: var(--rich100);
// $table-hover-bg: var(--primary);
// $table-head-bg: var(--rich100);
$table-striped-order: even;

$table-cell-padding: 0.75rem;
$table-cell-padding-sm: 0.3rem;
$table-cell-padding-lg: 1rem;

// Buttons + Forms
//
// Shared variables that are reassigned to `$input-` and `$btn-` specific variables.

$input-btn-padding-y: 0.5rem;
$input-btn-padding-x: 0.75rem;
$input-btn-line-height: 1.25;
$input-btn-padding-y-sm: 0.25rem;
$input-btn-padding-x-sm: 0.5rem;
$input-btn-line-height-sm: 1.5;
$input-btn-padding-y-lg: 0.5rem;
$input-btn-padding-x-lg: 1rem;
$input-btn-line-height-lg: 1.5;
$btn-font-weight: normal;
$btn-block-spacing-y: 0.5rem;
$btn-border-radius: $border-radius;
$btn-border-radius-lg: $border-radius-lg;
$btn-border-radius-sm: $border-radius-sm;

// Form states and alerts
//
//## Define colors for form feedback states and, by default, alerts.
$state-success-text: theme-color('success');
$state-success-bg: #f2f9f2;
$state-success-border: theme-color('success');
$state-info-text: theme-color('info');
$state-info-bg: #f4f9fd;
$state-info-border: theme-color('info');
$state-warning-text: theme-color('warning');
$state-warning-bg: #fcf6f2;
$state-warning-border: theme-color('warning');
$state-danger-text: theme-color('danger');
$state-danger-bg: #fdf2f2;
$state-danger-border: theme-color('danger');

// Navs

$nav-link-padding-y: 1.5rem; // increased from .5 to match our 75 pixel height
$nav-link-disabled-color: var(--disabled);
$nav-tabs-border-color: $border-color;
$nav-tabs-border-width: $border-width;
$nav-tabs-border-radius: 0;

// Navbar
$navbar-nav-link-padding-x: 0.5rem !default;
$font-size-base: 0.875rem; // 14px
$font-size-lg: ($font-size-base * 1.25); // 16px (1 rem)
$font-size-sm: ($font-size-base * 0.857); // 12px (.75 rem)
$font-size-xs: ($font-size-base * 0.625); // 10px
$line-height-base: 1.5;
$navbar-brand-font-size: ($font-size-lg * 1.5);
// Compute the navbar-brand padding-y so the navbar-brand will have the same height as navbar-text and nav-link
$nav-link-height: 36px;
$navbar-brand-height: 69px;
// $navbar-brand-height: ($font-size-base * $line-height-base + $nav-link-padding-y * 2);

// $navbar-brand-padding-y: math.div((70px - 36px), 2);
$navbar-brand-padding-y: 16px;
$navbar-brand-height-responsive: 3.625rem;

// Badges

$badge-color: var(--white);
$badge-font-size: 0.75rem;
$badge-font-weight: normal;
$badge-padding-y: 0.3rem;
$badge-padding-x: 0.5rem;
$badge-pill-padding-x: 0.6em;

// Modals

// Padding applied to the modal body
// $modal-inner-padding: 1rem;
// $modal-dialog-margin: 2rem;
// $modal-dialog-margin-y-sm-up: 2rem;
// $modal-content-border-color: $border-color;

// Progress bars

$progress-height: 1.25rem;
$progress-font-size: 0.75rem;
$progress-bg: var(--rich100);

// List group

$list-group-item-padding-y: 0.75rem;
$list-group-item-padding-x: 1.25rem;

$list-group-disabled-color: var(--rich500);

// Breadcrumbs
$breadcrumb-bg: transparent;
$breadcrumb-divider-color: var(--divider_color);
$breadcrumb-active-color: var(--primary);
$breadcrumb-divider: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="9" height="14"> <path fill="silver" fill-rule="nonzero" d="M5.586 7L.293 1.707 1.707.293 8.414 7l-6.707 6.707-1.414-1.414z"/> </svg>');

// Close
$close-color: var(--text);

// Code

$code-font-size: 90%;
$code-color: #bd4147;
