// Variables

// *
// IMPORTANT 6.0 NOTE
// ------------------------------------------------------
// THESE COLOR VARIABLES ARE NO LONGER USED
// PLEASE USE THE CSS VARIABLES DEFINED IN _COLORS.SCSS
// *

$white: #fff !default;
$gray-50: #f8f8f8;
$gray-100: #f0f0f0;
$gray-200: #e1e1e1;
$gray-300: #c0c0c0;
$gray-400: #9b9b9b;
$gray-500: #717171;
$gray-600: #4e4e4e;
$gray-700: #222;
$blue-1000: #212529;
$gray-900: #121212;
$black: #000 !default;

$grays: () !default;

$grays: map-merge(
  (
    '50': $gray-50,
    '100': $gray-100,
    '200': $gray-200,
    '300': $gray-300,
    '400': $gray-400,
    '500': $gray-500,
    '600': $gray-600,
    '700': $gray-700,
    '900': $gray-900
  ),
  $grays
);

$blue-50: #eef1fb; // light bluish gray
$blue-100: #c8cee4;
$blue-300: #8997c8;
$blue-500: #3e53a4;
$blue-700: #314183;
$blue: #3e53a4;
$cyan: #009bdf;
$green-700: #007d00;
$green: #00b140;
$green-dark: $green-700;
$indigo: #80327c;
$magenta: #cf0989;
$orange-700: #c55200;
$orange: #ef8200;
$orange-dark: #ee6700;
$pink: #cf0989;
$purple: #a03f9b;
$red: #d30c0c;
$teal: #0072b8;
$medium-blue: $teal;
$focus: #189dbd;
$yellow: #edb700;

$colors: () !default;
$colors: map-merge(
  (
    blue: $blue,
    blue-700: $blue-700,
    indigo: $indigo,
    purple: $purple,
    pink: $pink,
    magenta: $magenta,
    red: $red,
    orange: $orange,
    yellow: $yellow,
    green: $green,
    teal: $teal,
    cyan: $cyan,
    white: $white,
    gray: $gray-100
  ),
  $colors
);

// NOTE:  we need to keep the default theme here because we import Bootstrap and it breaks without it
$theme-colors: () !default;
$theme-colors: map-merge(
  (
    'primary': $blue,
    'secondary': $gray-500,
    'success': $green-700,
    'success-text': $green-700,
    'info': $teal,
    'info-dark': $blue,
    'warning': $orange,
    'warning-dark': $orange-700,
    'danger': $red,
    'light': $gray-100,
    'dark': $blue-100,
    'grad-left': $blue,
    'grad-right': $magenta,
    'focus': $focus,
    'button': $blue,
    'link': $teal
  ),
  $theme-colors
);

// Options
//
// Quickly modify global styling by enabling or disabling optional features.
$enable-prefers-reduced-motion-media-query: true;
$enable-responsive-font-sizes: true;
$enable-validation-icons: false;
$enable-deprecation-messages: true;

// Spacing
//
// Control the default styling of most Bootstrap elements by modifying these
// variables. Mostly focused on spacing.
// You can add more entries to the $spacers map, should you need more variation.

$spacer: 1rem !default;
$spacers: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$spacers: map-merge(
  (
    0: 0,
    1: (
      $spacer * 0.25
    ),
    2: (
      $spacer * 0.5
    ),
    3: $spacer,
    4: (
      $spacer * 1.5
    ),
    5: (
      $spacer * 2
    ),
    6: (
      $spacer * 2.5
    ),
    7: (
      $spacer * 3
    )
  ),
  $spacers
);

// Body
//
// Settings for the `<body>` element.

$body-bg: $white !default;
$body-color: $gray-700 !default;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);

// Links
//
// Style anchor elements.

$link-decoration: none;
$link-hover-decoration: underline;

// Grid columns
//
// Set the number of columns and specify the width of the gutters.

$grid-gutter-width: 32px;

// Components
//
// Define common padding and border radius sizes and more.
$border-color: $gray-300;
$border-width: 1px;
$border-radius: 2px;
$border-radius-lg: 4px;
$border-radius-sm: 0;

// Typography
//
// Font, line-height, and color for body text, headings, and more.
$pb-poi-icon-size: 24px;
// stylelint-disable value-keyword-case
$font-family-serif: Georgia, Times, 'Times New Roman', serif;
$font-family-sans-serif: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-family-monospace: 'SFMono-Regular', Menlo, Consolas, Monaco, 'Liberation Mono', 'Courier New', monospace;
$font-family-base: $font-family-sans-serif;
$font-family-brand-light: 'PrecisionSans_W_Lt', 'Helvetica Neue', Arial, sans-serif;
$font-family-brand-light-italic: 'PrecisionSans_W_LtIt', 'Helvetica Neue', Arial, sans-serif;
$font-family-brand-regular: 'PrecisionSans_W_Rg', 'Helvetica Neue', Arial, sans-serif;
$font-family-brand-regular-italic: 'PrecisionSans_W_RgIt', 'Helvetica Neue', Arial, sans-serif;
$font-family-brand-medium: 'PrecisionSans_W_Md', 'Helvetica Neue', Arial, sans-serif;
$font-family-brand-medium-italic: 'PrecisionSans_W_MdIt', 'Helvetica Neue', Arial, sans-serif;
$font-family-brand-bold: 'PrecisionSans_W_Bd', 'Helvetica Neue', Arial, sans-serif;
$font-family-brand-bold-italic: 'PrecisionSans_W_BdIt', 'Helvetica Neue', Arial, sans-serif;
// stylelint-enable value-keyword-case

$font-size-base: 1rem; // Assumes the browser default, typically `16px`
$font-size-lg: $font-size-base * 1.25;
$font-size-sm: $font-size-base * 0.875;

$font-size-base: 0.875rem; // 14px
$font-size-lg: ($font-size-base * 1.25); // 16px (1 rem)
$font-size-sm: ($font-size-base * 0.857); // 12px (.75 rem)
$font-size-xs: ($font-size-base * 0.625); // 10px

$line-height-base: 1.5;

$h1-font-size: 2rem;
$h2-font-size: 1.5rem;
$h3-font-size: 1.25rem;
$h4-font-size: 1.15rem;
$h5-font-size: 1.1rem;
$h6-font-size: 1rem;

$lead-font-size: 1rem;
$lead-font-weight: normal;

$text-muted: $gray-400 !default;
$list-inline-padding: 4px;

// Tables
//
// Customizes the `.table` component with basic values, each used across all table variations.

$table-bg: transparent;
$table-accent-bg: $gray-50;
$table-hover-bg: $blue-50;
$table-head-bg: $gray-50;
$table-striped-order: even;

$table-cell-padding: 0.75rem;
$table-cell-padding-sm: 0.3rem;
$table-cell-padding-lg: 1rem;

// Buttons + Forms
//
// Shared variables that are reassigned to `$input-` and `$btn-` specific variables.

$input-btn-padding-y: 0.5rem;

$input-btn-focus-width: 0.2rem;
$input-btn-focus-color: rgba(76, 211, 255, 0.77);
$input-btn-focus-box-shadow: 0 0 0 $input-btn-focus-width $input-btn-focus-color;
$input-border-color: $gray-300;
$custom-control-indicator-border: 1px solid $input-border-color;

$btn-font-weight: normal;
$btn-box-shadow: inset 0 1px 0 rgba($white, 0.15), 0 1px 1px rgba($black, 0.075);
$btn-focus-box-shadow: 0 0 10px hsla(195, 100%, 65%, 0.77);
$btn-focus-border-color: #189dbd;
$btn-active-box-shadow: inset 0 3px 5px rgba($black, 0.125);
$btn-disabled-color: $gray-300; // the text
$btn-link-disabled-color: $btn-disabled-color;
$btn-hover-background-color: lighten(theme-color('button'), 50%);
$btn-block-spacing-y: 0.5rem;

$btn-border-radius: $border-radius;
$btn-border-radius-lg: $border-radius-lg;
$btn-border-radius-sm: $border-radius-sm;
$btn-border-disabled-color: $btn-disabled-color;
$btn-transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

// Form states and alerts
//
//## Define colors for form feedback states and, by default, alerts.
$state-success-text: theme-color('success');
$state-success-bg: #f2f9f2;
$state-success-border: theme-color('success');
$state-info-text: theme-color('info');
$state-info-bg: #f4f9fd;
$state-info-border: theme-color('info');
$state-warning-text: theme-color('warning');
$state-warning-bg: #fcf6f2;
$state-warning-border: theme-color('warning');
$state-danger-text: theme-color('danger');
$state-danger-bg: #fdf2f2;
$state-danger-border: theme-color('danger');

// Navs

$nav-link-padding-y: 1.5rem; // increased from .5 to match our 75 pixel height
$nav-link-disabled-color: $gray-500;
$nav-tabs-border-color: $border-color;
$nav-tabs-border-width: $border-width;
$nav-tabs-border-radius: 0;

// Navbar

$navbar-nav-link-padding-x: 0.5rem !default;

$navbar-brand-font-size: ($font-size-lg * 1.5);

// Compute the navbar-brand padding-y so the navbar-brand will have the same height as navbar-text and nav-link
$nav-link-height: $navbar-brand-font-size * $line-height-base;
$navbar-brand-height: ($font-size-base * $line-height-base + $nav-link-padding-y * 2);
$navbar-brand-padding-y: ($navbar-brand-height - $nav-link-height) / 2;
$navbar-brand-height-responsive: 3.625rem;

// Cards

$card-border-color: $gray-200;
$card-cap-bg: $white;
$card-header-font: $font-family-brand-regular;
$card-spacer-y: 0.75rem;
$card-spacer-x: 1.25rem;
$card-border-width: 1px;
$card-border-radius: $border-radius;

// Badges

$badge-color: $white;
$badge-font-size: 0.75rem;
$badge-font-weight: normal;
$badge-padding-y: 0.3rem;
$badge-padding-x: 0.5rem;
$badge-pill-padding-x: 0.6em;

// Modals

// Padding applied to the modal body
$modal-inner-padding: 15px;
$modal-dialog-margin: 30px;
$modal-dialog-margin-y-sm-up: 30px;
$modal-content-border-color: $border-color;

// Progress bars

$progress-height: 1.25rem;
$progress-font-size: 0.75rem;
$progress-bg: $gray-100;

// List group

$list-group-item-padding-y: 0.75rem;
$list-group-item-padding-x: 1.25rem;

$list-group-disabled-color: $blue-500;

// Figures

$figure-caption-color: $blue-500;

// Breadcrumbs
$breadcrumb-bg: transparent;
$breadcrumb-divider-color: $gray-300;
$breadcrumb-active-color: $teal;
$breadcrumb-divider: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI5IiBoZWlnaHQ9IjE0Ij4KICAgIDxwYXRoIGZpbGw9InNpbHZlciIgZmlsbC1ydWxlPSJub256ZXJvIiBkPSJNNS41ODYgN0wuMjkzIDEuNzA3IDEuNzA3LjI5MyA4LjQxNCA3bC02LjcwNyA2LjcwNy0xLjQxNC0xLjQxNHoiLz4KPC9zdmc+Cg==);

// Close
$close-color: $gray-700;

// Code

$code-font-size: 90%;
$code-color: #bd4147;
